<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>midNight</title>
    <link rel="stylesheet" type="text/css" href="/style/css/index.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="wrap">
      <header></header>
      <section>
        <div class="wrap">
          <div class="content content--margin">
            <div class="content-box">
              <p class="text">
                midNight에 오신것을 환영합니다<br />
                당신의 이름을 적어주세요
              </p>
              <form class="input-box" onsubmit="checkUser(event)">
                <input
                  class="input"
                  type="text"
                  placeholder="What your Name?"
                />
                <span class="focus-border"></span>
              </form>
            </div>
            <ul class="memo-box memo-box--close"></ul>
          </div>
        </div>
      </section>
      <footer></footer>
    </div>
  </body>
  <script src="/js/index.js"></script>
</html>
