$text-color: rgb(53, 190, 190);
$header__iconSize: 40px;
$footer__fontSize: 1.3rem;
$footer__padding: 30px;
$memo__topMargin: 130px;
$memo__itemMargin: 0;
$transition-time: 0.4s;

@mixin header-box {
  width: 50px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  display: inline-block;
}

* {
  margin: 0;
  padding: 0;
}

// body {
//   background: {
//     image: url("../../img/midNight_8.gif");
//     repeat: no-repeat;
//     size: cover;
//   }
//   @at-root html,
//     & {
//     height: 100%;
//   }
// }

html {
  @at-root &,
    body {
    height: 100%;
  }
}

#wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09);
}

header {
  position: fixed;
  .icon-box {
    @include header-box();
    height: 50px;
    .fa-undo-alt {
      font-size: $header__iconSize;
    }
    &:hover .fa-undo-alt {
      animation: turning 1s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    }
    .fa-user {
      position: absolute;
      font-size: 15px;
      z-index: 2;
      top: 0;
      left: 0;
      margin: {
        left: 28.5px;
        top: 22px;
      }
    }
    &--close {
      display: none;
    }
  }
  .changer {
    @include header-box();
    float: right;
    .fa-image {
      font-size: $header__iconSize;
    }
    .theme {
      height: 350px;
      margin-top: 10px;
      list-style: none;
      overflow: hidden;
      transition: $transition-time;
      &--close {
        height: 0;
        margin: 0;
      }
      &-item {
      }
      &-item:nth-child(1):hover .default {
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(110deg);
      }
      &-item:nth-child(2):hover .spring {
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(230deg);
      }
      &-item--close {
        display: none;
      }
      &-icon {
        width: 40px;
        height: 40px;
        padding: 5px 0;
      }
    }
    // &:hover .theme {
    //   height: 350px;
    // }
  }
}

@keyframes turning {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

header,
footer {
  width: 100%;
}

section {
  padding: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    margin-top: -5rem;
  }

  .text {
    font-size: 1.3rem;
    font-weight: bold;
  }

  /* section input effect */

  input[type="text"] {
    background: transparent;
    font: 16px/25px "Lato", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
  }

  :focus {
    outline: none;
  }

  .input-box {
    width: 100%;
    position: relative;
    margin-top: 10px;
  }

  .input {
    border: 0;
    padding: 7px 2px;
    transition: $transition-time;
    &::placeholder {
      padding-left: 1px;
    }
    & ~ .focus-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: $transition-time;
    }
    &:focus ~ .focus-border {
      width: 100%;
      transition: $transition-time;
    }
  }

  //

  .memo {
    width: 330px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin-top: $memo__topMargin;
    padding: 2px 20px;
    position: fixed;
    list-style: none;
    overflow-y: scroll;
    transform: translate(-50%, -50%);
    &-item {
      margin: 10px $memo__itemMargin;
      border-radius: 5px;
      &--close {
        display: none;
      }
    }
    &-title {
      display: inline-block;
      width: 80%;
      margin-left: 22.5px;
      word-break: break-all;
    }
  }
  .fa-backspace {
    float: right;
    padding: 5px;
    margin: {
      top: -5px;
      right: -5px;
    }
  }
}

footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: $footer__padding 0;
  .today {
    padding-left: $footer__padding;
  }
  .clock {
    font-size: 2.5rem;
    font-weight: 300;
  }
  .date {
    font-size: $footer__fontSize;
  }
  .weather {
    padding-right: $footer__padding;
    .temperature {
      font-size: $footer__fontSize;
    }
    .icons {
      font-size: $footer__fontSize;
      position: absolute;
      margin: {
        top: 0.5px;
        left: 5px;
      }
    }
    .now-country {
      font-size: $footer__fontSize;
      margin-top: 2px;
    }
  }
}

@media (max-width: 767px) and (min-width: 416px) {
  section {
    // .memo {
    //   width: 330px;
    //   height: 190px;
    //   margin-top: ($memo-topMargin - 10);
    //   padding: 17px 20px;
    // }
  }
}

@media (max-width: 415px) {
  $memo__itemMargin--mobile: $memo__itemMargin + 25px;
  $footer__padding--mobile: ($footer__padding / 2);
  section {
    .text {
      font-size: 1.1rem;
    }
    .memo-item {
      margin: 10px $memo__itemMargin--mobile;
    }
    // .memo {
    //   width: 80%;
    //   height: 185px;
    //   margin-top: ($memo-topMargin - 20);
    // }
  }
  footer {
    padding: $footer__padding--mobile 0;
    .today {
      padding-left: $footer__padding--mobile;
      .clock {
        margin-top: 0.3rem;
        font-size: 2rem;
      }
    }
    .weather {
      padding-right: $footer__padding--mobile;
    }
  }
}

.modal-background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  top: -100%;
  transition: 0.2s all;
  &--open {
    transition: 0.2s all;
    top: 0;
  }
}

.modal {
  margin: 0 auto;
  margin-top: 8%;
  text-align: center;
  width: 30%;
  padding: 2rem;
  background-color: white;
}

.country {
  display: inline-block;
  margin-top: 0.5rem;
  &-icon {
    width: 70px;
    margin: 0 0.5rem;
    float: left;
    list-style: none;
  }
  &-img {
    width: 70px;
    height: 50px;
    border: 1px solid black;
  }
}
