* {
  margin: 0;
  padding: 0; }

html,
body {
  height: 100%; }

#wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09); }

header {
  position: fixed; }
  header .icon-box {
    width: 50px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    height: 50px; }
    header .icon-box .fa-undo-alt {
      font-size: 40px; }
    header .icon-box:hover .fa-undo-alt {
      animation: turning 1s cubic-bezier(0.5, 0, 0.5, 1) infinite; }
    header .icon-box .fa-user {
      position: absolute;
      font-size: 15px;
      z-index: 2;
      top: 0;
      left: 0;
      margin-left: 28.5px;
      margin-top: 22px; }
    header .icon-box--close {
      display: none; }
  header .changer {
    width: 50px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    display: inline-block;
    float: right; }
    header .changer .fa-image {
      font-size: 40px; }
    header .changer .theme {
      height: 350px;
      margin-top: 10px;
      list-style: none;
      overflow: hidden;
      transition: 0.4s; }
      header .changer .theme--close {
        height: 0;
        margin: 0; }
      header .changer .theme-item:nth-child(1):hover .default {
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(110deg); }
      header .changer .theme-item:nth-child(2):hover .spring {
        filter: invert(100%) sepia() saturate(10000%) hue-rotate(230deg); }
      header .changer .theme-icon {
        width: 40px;
        height: 40px;
        padding: 5px 0; }

@keyframes turning {
  0% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(0deg); } }

header,
footer {
  width: 100%; }

section {
  padding: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* section input effect */ }
  section .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
  section .content {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    margin-top: -5rem; }
  section .text {
    font-size: 1.3rem;
    font-weight: bold; }
  section input[type="text"] {
    background: transparent;
    font: 16px/25px "Lato", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px; }
  section :focus {
    outline: none; }
  section .input-box {
    width: 100%;
    position: relative;
    margin-top: 10px; }
  section .input {
    border: 0;
    padding: 7px 2px;
    transition: 0.4s; }
    section .input::placeholder {
      padding-left: 1px; }
    section .input ~ .focus-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      transition: 0.4s; }
    section .input:focus ~ .focus-border {
      width: 100%;
      transition: 0.4s; }
  section .memo {
    width: 330px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin-top: 130px;
    padding: 2px 20px;
    position: fixed;
    list-style: none;
    overflow-y: scroll;
    transform: translate(-50%, -50%); }
    section .memo-item {
      margin: 10px 0;
      border-radius: 5px; }
      section .memo-item--close {
        display: none; }
    section .memo-title {
      display: inline-block;
      width: 80%;
      margin-left: 22.5px; }
  section .fa-backspace {
    float: right;
    padding: 5px;
    margin-top: -5px;
    margin-right: -5px; }

footer {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  padding: 30px 0; }
  footer .today {
    padding-left: 30px; }
  footer .clock {
    font-size: 2.5rem;
    font-weight: 300; }
  footer .date {
    font-size: 1.3rem; }
  footer .weather {
    padding-right: 30px; }
    footer .weather .temperature {
      font-size: 1.3rem; }
    footer .weather .icons {
      font-size: 1.3rem;
      position: absolute;
      margin-top: 0.5px;
      margin-left: 5px; }
    footer .weather .country {
      font-size: 1.3rem;
      margin-top: 2px; }

@media (max-width: 415px) {
  section .text {
    font-size: 1.1rem; }
  section .memo-item {
    margin: 10px 25px; }
  footer {
    padding: 15px 0; }
    footer .today {
      padding-left: 15px; }
      footer .today .clock {
        margin-top: 0.3rem;
        font-size: 2rem; }
    footer .weather {
      padding-right: 15px; } }
