* {
  margin: 0;
  padding: 0; }

html {
  background-color: #121213; }
  html body {
    background-image: url("../../img/midNight_8.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 15% 0; }
  html,
  body {
    height: 100%; }

#wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.09); }

header {
  position: fixed; }

header,
footer {
  width: 100%; }

section {
  padding: 15px;
  width: calc(100% - 30px);
  height: calc(100% - 30px);
  /* section input effect */ }
  section .wrap {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; }
  section .content {
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: center;
    margin-top: -5rem; }
  section .text {
    font-size: 1.3rem;
    font-weight: bold;
    color: #35bebe;
    text-shadow: 0px 4px black; }
  section input[type="text"] {
    background: transparent;
    font: 16px/25px "Lato", Arial, sans-serif;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px; }
  section :focus {
    outline: none; }
  section .input-box {
    width: 100%;
    position: relative;
    margin-top: 10px; }
  section .input {
    border: 0;
    padding: 7px 0;
    border-bottom: 1px solid rgba(204, 204, 204, 0.2);
    transition: 0.4s;
    color: white; }
    section .input::placeholder {
      transition: 0.4s;
      color: rgba(255, 255, 255, 0.4); }
    section .input ~ .focus-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 0;
      height: 2px;
      background-color: #33f1ff;
      transition: 0.4s; }
    section .input:focus ~ .focus-border {
      width: 100%;
      transition: 0.4s; }
    section .input:focus::placeholder {
      color: rgba(255, 255, 255, 0.8); }
  section .memo {
    margin: 10px 0px;
    border-radius: 5px; }
    section .memo-box {
      width: 330px;
      height: 210px;
      top: 50%;
      left: 50%;
      margin-top: 130px;
      padding: 2px 20px;
      position: fixed;
      list-style: none;
      overflow-y: scroll;
      transform: translate(-50%, -50%); }
      section .memo-box--close {
        display: none; }
    section .memo-title {
      display: inline-block;
      width: 80%;
      margin-left: 22.5px; }
  section .fa-backspace {
    float: right;
    padding: 5px;
    margin-top: -5px;
    margin-right: -5px; }

footer {
  position: fixed;
  bottom: 0; }
  footer .today {
    display: inline-block;
    padding: 50px 40px; }
  footer .clock {
    margin-top: 0.3rem;
    font-size: 3rem;
    font-weight: 300; }
  footer .date {
    font-size: 1.5rem; }

@media (max-width: 767px) and (min-width: 361px) {
  section .memo-box {
    width: 330px;
    height: 190px;
    margin-top: 120px;
    padding: 17px 20px; } }

@media (max-width: 360px) {
  section .text {
    font-size: 1.1rem; }
  section .memo-box {
    width: 80%;
    height: 185px;
    margin-top: 110px; }
  section .memo-title {
    margin-left: 22.5px; }
  footer .today {
    margin: 0 auto;
    padding: 10px 20px; }
  footer .clock {
    margin-top: 0.3rem;
    font-size: 2rem; }
  footer .date {
    font-size: 1rem; } }
